In [1]:
#!pip install pandas

# Gather all data

In [2]:
import csv
import json
import pandas as pd
from datetime import datetime
import numpy as np
from collections import Counter
from os.path import exists


import warnings
warnings.filterwarnings("ignore")


outputFolders = "../data_2019_processed/"

In [3]:
# Dataframe of all datasets
# initialize list of lists
datasets = [['0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs'],
            ['0tdmm6rwW3KquQ73ATYYJ5JkpMtvbppJ0VzA2GExdA'], 
            ['2cyV53lVyUtlMj0BRwilEWtYJwUiviYoL48cZBPBq0'], 
            ['2J22RukYnEbKTk7t+iUVDBkorcyL5NKN6TrLe89ys'], 
            #['5FLZBTVAPwdq9QezHE2sVCJIs7p+r6mCemA2gp9jATk'], #does not have the file
            ['7EYF5I04EVqisUJCVNHlqn77UAuOmwL2Dahxd3cA'], 
            ['a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4'], 
            ['ae4JJBZDycEcY8McJF+3BxyvZ1619y03BNdCxzpZTc'], 
            ['Ch3u5Oaz96VSrQbf0z31X6jEIbeIekkC0mwPzCdeJ1U'], 
            ['CH8f0yZkZL13zWuE9ks1CkVJRVrr+jsGdUXHrZ6YeA'], 
            ['DHO1K4jgiwZJOfQTrxvKE2vn7hkjamigroGD5IaeRc'], 
            ['DHPqzSqSttiba1L3BD1cptNJPjSxZ8rXxF9mY3za6WA'], 
            ['dQEFscjqnIlug8Tgq97JohhSQPG2DEOWJqS86wCrcY'], 
            ['HFvs2CohmhHte+AaCzFasjzegGzxZKPhkrX23iI6Xo'], 
            ['jgB9E8v3Z6PKdTRTCMAijBllA9YEMtrmHbe4qsbmJWw'], 
            ['JkY++R7E8myldLN3on6iQ78Ee78zCbrLuggfwGju3I'], 
            ['K4SLohf+TN1Ak8Dn8iE3Lme7rEMPISfppB2sXfHX8'], 
            ['oGaWetJJJEWHuvYdWYo826SQxfhCExVVQ2da8LE1Y7Q'], 
            ['pyt24oiDAHsmgWMvkFKz2fn2pwcHiXchd6KchLM'], 
            ['PZCf1nfvhR+6fk+7+sPNMYOgb8BAMmtQtfoRS83Suc'], 
            ['QUNCATForxzK0HHw46LrGOMWh0eVA8Y5XWEiUXX+cQ'], 
            ['rIl2UK9+bQ+tzpFdbJAdbBxEa5GbgrgC030yEaENLw'], 
            ['RoBW3cDOO9wWRMPO2twQff83MPc+OXn6gJ+a1DafreI'], 
            ['SH3kQeyd5volraxw8vOyhlowNqWBPr1IJ9URNXUL4'], 
            ['VVpwFNMrEglveh6MDN8lrRzTy5OwzglD4FURfM4A2is'], 
            ['Wa1mcNmbh66S7VS6GIzyfCFMD3SGhbtDQyFP1ywJEsw'], 
            ['XCKRE0BWRHxfP1kZIihgtT+jUjSp2GE8v5ZlhcIhVmA'], 
            ['YI5Y79K6GXqAUoGP6PNyII8WKlAoel4urDxWSVVOvBw'], 
            ['ypklj+8GJ15rOIH1lpKQtFJOuK+VdvyCuBPqhY3aoM'], 
            ['ZSsAZ0Pq+MCqFrnjsRFn5Ua09pMCVaOV9c8ZuYb7XQY']]
  
# Create the pandas DataFrame
folders = pd.DataFrame(datasets, columns=['folder'])

#folders

In [4]:
pd.read_csv("../../Dataset_ECUADOR_2019/0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs/sleep_form_0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs.csv")

,Unnamed: 0,sleep_time,wakeup_time,sleep,arousal,valence,dominance,physical_activity,sociability,study,timestamp
0,0,2018-05-15T05:30:29Z,2018-05-15T11:30:29Z,3,3,3,4,3,4,3,2018-05-15T14:31:29Z
1,1,2018-05-15T17:00:00Z,2018-05-16T11:00:04Z,3,4,3,4,3,4,2,2018-05-16T14:07:04Z
2,2,2018-05-15T17:00:00Z,2018-05-16T11:00:08Z,3,4,3,4,3,4,2,2018-05-16T14:07:08Z
3,3,2018-05-17T04:45:00Z,2018-05-17T11:15:19Z,3,0,4,3,1,2,1,2018-05-17T14:16:19Z
4,4,2018-05-18T03:00:00Z,2018-05-18T08:30:49Z,1,0,1,1,0,0,1,2018-05-18T15:12:49Z
5,5,2018-05-19T05:00:53Z,2018-05-19T10:15:53Z,3,3,1,3,2,2,4,2018-05-19T15:51:53Z
6,6,2018-05-21T06:15:52Z,2018-05-21T10:30:52Z,4,0,2,0,1,2,3,2018-05-21T15:33:52Z
7,7,2018-05-22T04:45:00Z,2018-05-22T11:30:21Z,3,1,3,3,3,2,3,2018-05-22T13:55:21Z
8,8,2018-05-22T04:30:00Z,2018-05-22T11:30:40Z,3,1,3,2,3,2,3,2018-05-22T15:59:40Z
9,9,2018-05-23T15:00:09Z,2018-05-23T12:30:09Z,2,2,3,3,1,2,2,2018-05-23T15:44:09Z
10,10,2018-05-24T04:30:00Z,2018-05-24T10:30:33Z,1,2,1,2,1,1,2,2018-05-24T14:15:33Z
11,11,2018-05-25T04:30:00Z,2018-05-25T12:30:37Z,3,0,2,3,1,1,4,2018-05-25T15:56:37Z
12,12,2018-05-26T06:30:12Z,2018-05-26T12:30:12Z,3,1,3,2,2,1,4,2018-05-26T14:40:12Z
13,13,2018-05-26T06:45:29Z,2018-05-26T12:30:29Z,3,1,4,2,1,1,4,2018-05-26T15:48:29Z
14,14,2018-05-27T18:00:56Z,2018-05-27T14:00:56Z,0,0,0,0,0,0,0,2018-05-27T18:03:56Z
15,15,2018-05-27T10:00:16Z,2018-05-27T18:00:16Z,0,0,0,0,0,0,0,2018-05-27T18:56:16Z
16,16,2018-05-28T06:30:08Z,2018-05-28T10:30:08Z,2,2,3,2,3,3,4,2018-05-28T17:34:08Z
17,17,2018-05-30T06:45:35Z,2018-05-30T12:00:35Z,2,1,2,3,1,1,3,2018-05-30T15:56:35Z
18,18,2018-05-31T07:00:27Z,2018-05-31T10:30:27Z,3,0,3,0,1,1,3,2018-05-31T13:08:27Z
19,19,2018-06-01T07:00:56Z,2018-06-01T10:30:56Z,0,1,1,1,1,0,4,2018-06-01T16:40:56Z
20,20,2018-06-01T16:45:00Z,2018-06-02T13:30:12Z,4,2,4,3,1,3,4,2018-06-03T03:45:12Z
21,21,2018-06-03T07:00:00Z,2018-06-03T15:00:00Z,0,0,0,0,0,0,0,2018-06-03T15:06:00Z
22,22,2018-06-03T04:45:00Z,2018-06-03T13:30:37Z,3,2,0,1,1,0,4,2018-06-03T16:37:37Z
23,23,2018-06-04T05:45:42Z,2018-06-04T11:00:42Z,4,1,3,1,3,3,4,2018-06-04T15:44:42Z
24,24,2018-06-05T14:00:12Z,2018-06-05T14:00:12Z,0,0,0,0,0,0,0,2018-06-05T14:09:12Z
25,25,2018-06-05T04:45:00Z,2018-06-05T11:30:58Z,3,2,1,2,2,1,3,2018-06-05T16:02:58Z
26,26,2018-06-06T06:00:16Z,2018-06-06T12:00:16Z,3,3,3,3,4,3,4,2018-06-06T15:46:16Z
27,27,2018-06-07T04:30:00Z,2018-06-07T10:30:58Z,3,1,3,1,3,2,4,2018-06-07T16:21:58Z
28,28,2018-06-08T05:00:35Z,2018-06-08T13:00:35Z,0,0,0,0,0,0,0,2018-06-08T13:12:35Z
29,29,2018-06-08T04:45:00Z,2018-06-08T10:00:34Z,3,1,3,3,1,3,4,2018-06-08T15:52:34Z
30,30,2018-06-10T06:30:11Z,2018-06-10T12:30:11Z,4,1,3,2,3,3,4,2018-06-10T15:37:11Z
31,31,2018-06-11T05:30:45Z,2018-06-11T10:30:45Z,3,1,3,3,3,3,4,2018-06-11T13:54:45Z
32,32,2018-06-12T08:00:34Z,2018-06-12T16:00:34Z,0,0,0,0,0,0,0,2018-06-12T16:14:34Z

In [5]:
pd.read_csv("../data_2019_processed/form/sleep_form_0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs_treated.csv")

,Unnamed: 0.1,index,Unnamed: 0,sleep_time,wakeup_time,sleep,arousal,valence,dominance,physical_activity,sociability,study,timestamp,time_sleeping,time_sleeping_hs,duplicated
0,0,0,0,1.526359e+09,1.526380e+09,3,3,3,4,3,4,3,2018-05-15T14:31:29Z,21600.0,6.000000,0
1,2,2,2,1.526400e+09,1.526465e+09,3,4,3,4,3,4,2,2018-05-16T14:07:08Z,64808.0,18.002222,0
2,3,3,3,1.526529e+09,1.526552e+09,3,0,4,3,1,2,1,2018-05-17T14:16:19Z,23419.0,6.505278,0
3,4,4,4,1.526609e+09,1.526629e+09,1,0,1,1,0,0,1,2018-05-18T15:12:49Z,19849.0,5.513611,0
4,5,5,5,1.526702e+09,1.526721e+09,3,3,1,3,2,2,4,2018-05-19T15:51:53Z,18900.0,5.250000,0
5,6,6,6,1.526880e+09,1.526895e+09,4,0,2,0,1,2,3,2018-05-21T15:33:52Z,15300.0,4.250000,0
6,8,8,8,1.526960e+09,1.526985e+09,3,1,3,2,3,2,3,2018-05-22T15:59:40Z,25240.0,7.011111,0
7,9,9,9,1.527075e+09,1.527084e+09,2,2,3,3,1,2,2,2018-05-23T15:44:09Z,9000.0,2.500000,0
8,10,10,10,1.527133e+09,1.527154e+09,1,2,1,2,1,1,2,2018-05-24T14:15:33Z,21633.0,6.009167,0
9,11,11,11,1.527219e+09,1.527248e+09,3,0,2,3,1,1,4,2018-05-25T15:56:37Z,28837.0,8.010278,0
10,13,13,13,1.527314e+09,1.527334e+09,3,1,4,2,1,1,4,2018-05-26T15:48:29Z,20700.0,5.750000,0
11,15,15,15,1.527412e+09,1.527440e+09,0,0,0,0,0,0,0,2018-05-27T18:56:16Z,28800.0,8.000000,0
12,16,16,16,1.527485e+09,1.527500e+09,2,2,3,2,3,3,4,2018-05-28T17:34:08Z,14400.0,4.000000,0
13,17,17,17,1.527659e+09,1.527678e+09,2,1,2,3,1,1,3,2018-05-30T15:56:35Z,18900.0,5.250000,0
14,18,18,18,1.527746e+09,1.527759e+09,3,0,3,0,1,1,3,2018-05-31T13:08:27Z,12600.0,3.500000,0
15,19,19,19,1.527833e+09,1.527845e+09,0,1,1,1,1,0,4,2018-06-01T16:40:56Z,12600.0,3.500000,0
16,20,20,20,1.527868e+09,1.527943e+09,4,2,4,3,1,3,4,2018-06-03T03:45:12Z,74712.0,20.753333,0
17,22,22,22,1.527998e+09,1.528029e+09,3,2,0,1,1,0,4,2018-06-03T16:37:37Z,31537.0,8.760278,0
18,23,23,23,1.528088e+09,1.528106e+09,4,1,3,1,3,3,4,2018-06-04T15:44:42Z,18900.0,5.250000,0
19,25,25,25,1.528170e+09,1.528195e+09,3,2,1,2,2,1,3,2018-06-05T16:02:58Z,24358.0,6.766111,0
20,26,26,26,1.528261e+09,1.528283e+09,3,3,3,3,4,3,4,2018-06-06T15:46:16Z,21600.0,6.000000,0
21,27,27,27,1.528342e+09,1.528364e+09,3,1,3,1,3,2,4,2018-06-07T16:21:58Z,21658.0,6.016111,0
22,29,29,29,1.528430e+09,1.528448e+09,3,1,3,3,1,3,4,2018-06-08T15:52:34Z,18934.0,5.259444,0
23,30,30,30,1.528609e+09,1.528630e+09,4,1,3,2,3,3,4,2018-06-10T15:37:11Z,21600.0,6.000000,0
24,31,31,31,1.528691e+09,1.528709e+09,3,1,3,3,3,3,4,2018-06-11T13:54:45Z,18000.0,5.000000,0
25,32,32,32,1.528787e+09,1.528816e+09,0,0,0,0,0,0,0,2018-06-12T16:14:34Z,28800.0,8.000000,0

# Data pre-processing

In [6]:
allData = pd.DataFrame()
for indexFolder, folder in folders.iterrows():

    # check f the path exists (becouse kaggle removed the + character from file names)
    fileName = folder['folder']
    if(not(exists("../../Dataset_ECUADOR_2019/"+folder['folder']+"/"+fileName+".csv"))):
        fileName = folder['folder'].replace("+","")
    
    # data = pd.read_csv("../../Dataset_ECUADOR_2019/0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs/0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs.csv", delimiter=',', encoding="utf8")
    data1 = pd.read_csv("../../Dataset_ECUADOR_2019/"+folder['folder']+"/"+fileName+".csv",
                       delimiter=',', encoding="utf8")
    #data.to_csv("teste1.csv", sep=',', encoding='utf-8', index=False)
    data2 = pd.read_csv("../../Dataset_ECUADOR_2019/"+folder['folder']+"/Sleep_Detection_"+fileName+".csv",
                       delimiter=',', encoding="utf8")
    #dataFLabel = pd.read_csv("../Dataset_ECUADOR_2019/"+folder['folder']+"/sleep_form_"+folder['folder']+"_treated.csv",
    #               delimiter=',', encoding="utf8")
    dataFLabel = pd.read_csv("../data_2019_processed/form/sleep_form_"+folder['folder']+"_treated.csv",
                   delimiter=',', encoding="utf8")
    # merge data
    mergedDS = pd.merge(data1, data2, on='timestamp')
    print(folder['folder']+" "+str(mergedDS.shape[0]))
    # remove unecessary attributes not relevant to sleep detection: foregroundApp,wifi,bluetooth,ble, risk,suburb,municipality,city,town,county
    del mergedDS["foregroundApp"]
    #del mergedDS["wifi"]
    #del mergedDS["bluetooth"]
    del mergedDS["ble"]
    del mergedDS["risk"]
    del mergedDS["suburb"]
    del mergedDS["municipality"]
    del mergedDS["city"]
    del mergedDS["town"]
    del mergedDS["county"]
    del mergedDS["Unnamed: 0"]
    del mergedDS["activity_y"]
    # rename
    mergedDS.rename(columns = {'activity_x':'activity'}, inplace = True)
    #del mergedDS["Unnamed: 0_x"]
    #del mergedDS["Unnamed: 0_y"]
    # give the status of awake to all dataset
    mergedDS['class'] = 'awake'
    # convert label DF to date time
    dataFLabel['timestamp'] = dataFLabel['timestamp'].astype('datetime64[ns]')
    mergedDS['timestamp2'] = 0
    for indexFolder, content in mergedDS['timestamp'].items():
        temp = datetime.strptime(content,'%Y-%m-%dT%H:%M:%SZ')
        mergedDS['timestamp2'][indexFolder] = temp.timestamp()
        
    #dataFLabel['sleep_time'] = dataFLabel['sleep_time'].astype('datetime64[ns]')
    #dataFLabel['wakeup_time'] = dataFLabel['wakeup_time'].astype('datetime64[ns]')
    # convert merged DF timestamp to datetime
    mergedDS['timestamp'] = mergedDS['timestamp'].astype('datetime64[ns]')
    # time of the day
    #mergedDS['minutes_day'] = mergedDS['timestamp'].hour * 60 + mergedDS['timestamp'].minute
    mergedDS['minutes_day'] = mergedDS.timestamp.dt.hour * 60 + mergedDS.timestamp.dt.minute
    # initialize times
    mergedDS['sleep_time'] = 0
    mergedDS['wakeup_time'] = 0
    mergedDS['time_sleeping'] = 0
    # alter class to sleep based on sleep and wakeuptimes
    for index, labelSet in dataFLabel.iterrows():
        sleep_time = dataFLabel['sleep_time'][index]
        wakeup_time = dataFLabel['wakeup_time'][index]
        # replace value
        for indexT, contentT in mergedDS['timestamp2'].items():
            if(sleep_time <= contentT) and (contentT <= wakeup_time):
                mergedDS['class'][indexT] = 'asleep'
            if (contentT < wakeup_time and mergedDS['time_sleeping'][indexT] == 0) or dataFLabel.index[dataFLabel.shape[0]-1]==indexT:
                sleep_time_dt = datetime.fromtimestamp(sleep_time, tz = None)     
                wakeup_time_dt = datetime.fromtimestamp(wakeup_time, tz = None)        
                mergedDS['sleep_time'][indexT] = sleep_time_dt.hour * 60 + sleep_time_dt.minute 
                mergedDS['wakeup_time'][indexT] = wakeup_time_dt.hour * 60 + wakeup_time_dt.minute 
                mergedDS['time_sleeping'][indexT] = wakeup_time - sleep_time 
        #mergedDS['class'] = np.where((sleep_time <= mergedDS['timestamp2'])
        #                              and (mergedDS['timestamp2'] <= wakeup_time), 'asleep', mergedDS['class'])
        #mergedDS['sleep_time'] = sleep_time.hour * 60 + sleep_time.minute # in minutes
        #mergedDS['wakeup_time'] = wakeup_time.hour * 60 + wakeup_time.minute  # in minutes
        #mergedDS['time_sleeping'] = mergedDS['time_sleeping'] /60
    # remove temp information
    del mergedDS['sleep_time']
    del mergedDS['wakeup_time']
    del mergedDS['time_sleeping']
    mergedDS['timestamp_text'] = mergedDS['timestamp']
    mergedDS['timestamp'] = mergedDS['timestamp2']
    del mergedDS['timestamp2']
    # replace the place from the class
    temp = mergedDS['class'].copy()
    del mergedDS['class']
    mergedDS['class'] = temp
    # print the guy
    mergedDS.to_csv(outputFolders+"student_"+folder['folder']+".csv", sep=',', encoding='utf-8', index=False)
    #mergedDS.to_csv("dados2019/student_"+folder['folder']+".csv", sep=',', encoding='utf-8', index=False)
    print(Counter(mergedDS['class']))
    # merge the data set if has both classes
    if('asleep' in Counter(mergedDS['class'])):
        if(allData.empty):
            allData = mergedDS
        else:
            #allData = allData.append(mergedDS, ignore_index=True)
            allData = pd.concat([allData, mergedDS])
        
# print all
#allData.to_csv(outputFolders+"allData.csv", sep=',', encoding='utf-8', index=False)
#allData.to_csv("dados2019/allData.csv", sep=',', encoding='utf-8', index=False)

0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs 17993
Counter({'awake': 16341, 'asleep': 1652})
0tdmm6rwW3KquQ73ATYYJ5JkpMtvbppJ0VzA2GExdA 11561
Counter({'awake': 8158, 'asleep': 3403})
2cyV53lVyUtlMj0BRwilEWtYJwUiviYoL48cZBPBq0 3383
Counter({'awake': 2064, 'asleep': 1319})
2J22RukYnEbKTk7t+iUVDBkorcyL5NKN6TrLe89ys 19389
Counter({'awake': 16586, 'asleep': 2803})
7EYF5I04EVqisUJCVNHlqn77UAuOmwL2Dahxd3cA 2753
Counter({'awake': 2426, 'asleep': 327})
a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4 26567
Counter({'awake': 22241, 'asleep': 4326})
ae4JJBZDycEcY8McJF+3BxyvZ1619y03BNdCxzpZTc 24534
Counter({'awake': 21466, 'asleep': 3068})
Ch3u5Oaz96VSrQbf0z31X6jEIbeIekkC0mwPzCdeJ1U 33903
Counter({'awake': 29458, 'asleep': 4445})
CH8f0yZkZL13zWuE9ks1CkVJRVrr+jsGdUXHrZ6YeA 26440
Counter({'awake': 20334, 'asleep': 6106})
DHO1K4jgiwZJOfQTrxvKE2vn7hkjamigroGD5IaeRc 24484
Counter({'awake': 21111, 'asleep': 3373})
DHPqzSqSttiba1L3BD1cptNJPjSxZ8rXxF9mY3za6WA 1712
Counter({'awake': 1712})
dQEFscjqnIlug8Tgq97JohhSQPG2DEOWJqS86wCrcY 26020
Counter({'awake': 19844, 'asleep': 6176})
HFvs2CohmhHte+AaCzFasjzegGzxZKPhkrX23iI6Xo 25932
Counter({'awake': 22584, 'asleep': 3348})
jgB9E8v3Z6PKdTRTCMAijBllA9YEMtrmHbe4qsbmJWw 31873
Counter({'awake': 26809, 'asleep': 5064})
JkY++R7E8myldLN3on6iQ78Ee78zCbrLuggfwGju3I 23244
Counter({'awake': 20000, 'asleep': 3244})
K4SLohf+TN1Ak8Dn8iE3Lme7rEMPISfppB2sXfHX8 19595
Counter({'awake': 15986, 'asleep': 3609})
oGaWetJJJEWHuvYdWYo826SQxfhCExVVQ2da8LE1Y7Q 21669
Counter({'asleep': 10967, 'awake': 10702})
pyt24oiDAHsmgWMvkFKz2fn2pwcHiXchd6KchLM 33344
Counter({'awake': 28624, 'asleep': 4720})
PZCf1nfvhR+6fk+7+sPNMYOgb8BAMmtQtfoRS83Suc 1398
Counter({'awake': 1398})
QUNCATForxzK0HHw46LrGOMWh0eVA8Y5XWEiUXX+cQ 22059
Counter({'awake': 17128, 'asleep': 4931})
rIl2UK9+bQ+tzpFdbJAdbBxEa5GbgrgC030yEaENLw 23745
Counter({'awake': 21194, 'asleep': 2551})
RoBW3cDOO9wWRMPO2twQff83MPc+OXn6gJ+a1DafreI 32918
Counter({'awake': 25586, 'asleep': 7332})
SH3kQeyd5volraxw8vOyhlowNqWBPr1IJ9URNXUL4 12709
Counter({'awake': 11732, 'asleep': 977})
VVpwFNMrEglveh6MDN8lrRzTy5OwzglD4FURfM4A2is 15245
Counter({'awake': 13681, 'asleep': 1564})
Wa1mcNmbh66S7VS6GIzyfCFMD3SGhbtDQyFP1ywJEsw 2612
Counter({'awake': 1871, 'asleep': 741})
XCKRE0BWRHxfP1kZIihgtT+jUjSp2GE8v5ZlhcIhVmA 17426
Counter({'awake': 15049, 'asleep': 2377})
YI5Y79K6GXqAUoGP6PNyII8WKlAoel4urDxWSVVOvBw 19131
Counter({'awake': 13568, 'asleep': 5563})
ypklj+8GJ15rOIH1lpKQtFJOuK+VdvyCuBPqhY3aoM 59
Counter({'asleep': 36, 'awake': 23})
ZSsAZ0Pq+MCqFrnjsRFn5Ua09pMCVaOV9c8ZuYb7XQY 23752
Counter({'awake': 18781, 'asleep': 4971})

In [7]:
allData

,activity,location,distanceHome,showActuation,timestamp,time_to_next_alarm,sound,proximity,phone_lock,light,day_of_week,minutes_day,timestamp_text,class
0,Unknown,Other,0,False,1526390445,594000000.0,0,5,not locked,37,Tuesday,860,2018-05-15 14:20:45,awake
1,Unknown,Other,0,False,1526390445,594000000.0,0,5,not locked,37,Tuesday,860,2018-05-15 14:20:45,awake
2,Still,University,0,False,1526390475,593940000.0,5517,5,not locked,35,Tuesday,861,2018-05-15 14:21:15,awake
3,Still,University,0,False,1526390505,593940000.0,5517,5,not locked,307,Tuesday,861,2018-05-15 14:21:45,awake
4,Still,University,0,False,1526390535,593880000.0,5809,5,not locked,42,Tuesday,862,2018-05-15 14:22:15,awake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23747,Still,House,0,False,1528888477,59999.0,0,5,locked,8,Wednesday,734,2018-06-13 12:14:37,awake
23748,Still,House,0,False,1528888688,420000.0,0,5,locked,11,Wednesday,738,2018-06-13 12:18:08,awake
23749,Still,House,0,False,1528888748,359999.0,0,5,locked,11,Wednesday,739,2018-06-13 12:19:08,awake
23750,Still,House,0,False,1528888778,359999.0,0,5,locked,12,Wednesday,739,2018-06-13 12:19:38,awake
23751,Tilting,House,0,False,1528888808,299998.0,0,0,locked,0,Wednesday,740,2018-06-13 12:20:08,awake